*,
*::before,
*::after {
   box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
   margin: 0;
}

ul[role="list"],
ol[role="list"] {
   list-style: none;
}

html:focus-within {
   scroll-behavior: smooth;
}

body {
   min-height: 100vh;
   text-rendering: optimizeSpeed;
   line-height: 1.5;
}

a:not([class]) {
   text-decoration-skip-ink: auto;
}

img,
picture {
   max-width: 100%;
   display: block;
}

input,
button,
textarea,
select {
   font: inherit;
}

@media (prefers-reduced-motion: reduce) {
   html:focus-within {
      scroll-behavior: auto;
   }
   *,
   *::before,
   *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
   }
}

.container {
   max-width: 1218px;
   margin: 0px auto;
}
header {
   background: #222;
   padding-top: 4em;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 200px;
}
.header__block-autotext {
   /* text-align: center; */
   width: 380px;
}

.header__block {
   display: flex;
   /* padding-top: 5em;
   display: flex;
   /* justify-content: center; */
   /* align-items: center; */
   /* width: 500px; */
   width: 700px;
   /* display: flex; */
   justify-content: space-between;
   align-items: center;
}
.header__block h1 {
   font-size: 3.5rem;
   color: #bb9a60;
}
.header__foto {
   width: 300px;
   height: 300px;
   /* border: 1px solid #000;
   border-radius: 20px; */
}

.header__block-autotext h2 {
   color: #bb9a60;
   font-family: monospace;
   overflow: hidden;
   border-right: 0.15em solid orange;
   white-space: nowrap;
   margin: 0 auto;
   letter-spacing: 0.15em;
   animation: typing 6s steps(30, end) infinite, blink-caret 0.3s step-end infinite;
}

@keyframes typing {
   from {
      width: 0;
   }
   to {
      width: 100%;
   }
}

@keyframes blink-caret {
   from,
   to {
      border-color: transparent;
   }
   50% {
      border-color: orange;
   }
}

main {
   background: #222;
   padding: 3em 0;
}

.main__content-wrapper {
   display: flex;
   justify-content: space-around;
   margin-bottom: 50px;
}
.main__contact {
   text-align: right;
}
.main__contact-title {
   font-size: 2rem;
   color: #bb9a60;
}
/* .main__contact-box {
   text-align: left;
} */
.main__contact-box a {
   display: inline-block;
   margin-left: 30px;

   font-size: 35px;
   color: #bb9a60;
   text-decoration: none;
   transition-property: all;
   transition-duration: 0.5s;
   transition-timing-function: linear;
}
.main__contact-box a:hover {
   color: #fff;
}

.main__contact-item a {
   display: block;
   font-size: 30px;
   margin-bottom: 10px;
}
.main__content h2 {
   font-size: 2rem;
   color: #bb9a60;
}
.main__content-greetings {
   font-size: 25px;
   color: #bb9a60;
   width: 60%;
}

.main__info {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;
}
.main__courses {
   width: 60%;
}
.main__info-education {
   width: 40%;
   text-align: right;
}
.main__info h4 {
   font-size: 2rem;
   color: #bb9a60;
   margin-bottom: 30px;
}

.main__courses-wrapper {
   display: flex;
   justify-content: space-between;
}
.main__courses span {
   font-size: 25px;
   color: #bb9a60;
}

.main__courses p {
   font-size: 20px;
   color: #bb9a60;
   margin: 15px 0;
}

.main__courses a {
   font-size: 20px;
   color: #bb9a60;
   text-decoration: none;
   transition-property: all;
   transition-duration: 0.5s;
   transition-timing-function: linear;
}
.main__courses a:hover {
   color: #fff;
}

.main__info-text {
   font-size: 25px;
   color: #bb9a60;
}
.main__info-content {
   font-size: 20px;
   color: #bb9a60;
   margin: 15px 0;
}

.main__facts {
}

.main__facts-title {
   font-size: 2rem;
   color: #bb9a60;
   margin-bottom: 30px;
}

.main__facts-list {
}
.main__facts-item {
   list-style: none;
   font-size: 20px;
   color: #bb9a60;
   margin: 15px 0;
}
